<.flash_group flash={@flash} />
<h1>All Topics</h1>
<ul>
    <%= for topic <- @topics do %>
        <li><%= topic.title %>   </li>
    <% end %>
</ul>

<div class="rounded-full mr-4 ml-10 bg-orange-500 px-3 py-3 w-10 h-10">
    <a href={~p"/discuss/topic"} class="text-white text-xl">+</a>
</div>